/* ... (vorheriger CSS-Code) */


/* Header (Hero) */

.hero {
    background-image: url('hero-bg.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    transition: background-image 0.5s;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    opacity: 0.8;
}


/* Portfolio */

.portfolio-item {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.portfolio-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.portfolio-item h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.portfolio-item p {
    font-size: 16px;
}

.portfolio-item img {
    max-width: 10%;
    height: auto;
    margin-left: 85%;
}


/* Contact */

.contact {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

.contact-links {
    text-align: center;
    margin-top: 20px;
}

.contact-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    transition: color 0.3s;
}

.contact-links a:hover {
    text-decoration: underline;
}


/* Footer */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.footer-links {
    display: flex;
    /* Links nebeneinander anordnen */
    justify-content: center;
    /* Zentriert die Links horizontal */
    gap: 20px;
    /* Abstand zwischen den Links */
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.footer-links a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    /* Stiländerungen für Bildschirme mit einer maximalen Breite von 768px */
    .hero {
        padding: 50px 0;
    }
    .hero h1 {
        font-size: 24px;
    }
    .hero p {
        font-size: 16px;
    }
    .portfolio-item {
        padding: 15px;
    }
    .portfolio-item h2 {
        font-size: 20px;
    }
    .portfolio-item p {
        font-size: 14px;
    }
    .contact {
        padding: 30px 0;
    }
    .contact h2 {
        font-size: 20px;
    }
    .contact p {
        font-size: 14px;
    }
}